:root{
  --dark-gray: rgba(34, 34, 34, 1);
  --light-gray: rgba(245, 245, 245, 1);
  --subtle-gray: rgba(245, 245, 245, 0.5);

  --font-stack: 'Plus Jakarta Sans', sans-serif;

  --base: 1rem;
}
body{
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-family: var(--font-stack);
  font-size: var(--base);
  font-weight: 400;
  line-height: 1.5;
}

a{
  color: inherit;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover, a:focus{
	text-decoration: underline;
  transition: all 0.25s ease-in-out;
}

a.link{
	font-weight: 700;
}

.supertitle{
	margin-bottom: 2.5rem;
	margin-top: 0;
	letter-spacing: -1.5px;
}

@media screen and (max-width: 641px){
	.supertitle{
		font-size: 2rem;
		line-height: 1.25;
	}
}
@media screen and (min-width: 641px){
	.supertitle{
		font-size: 3rem;
		line-height: 1.25;
	}
}

.lead{
	font-size: 1.25rem;
	margin-bottom: 2.5rem;
	margin-top: 0;
}

.paragraph{
	margin-bottom: 2.5rem;
	margin-top: 0;	
}

.small{
	font-size: 0.875rem;
	margin-bottom: 2.5rem;
	margin-top: 0;	
}


header, section{
	display: flex;
	margin: 0 auto;
}

@media screen and (max-width: 640px){
	header, section{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
@media screen and (min-width: 641px) and (max-width: 992px){
	header, section{
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}
@media screen and (min-width: 993px){
	header, section{
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

@media screen and (max-width: 640px){
	header, article.about{
		padding-top: 2.5rem;
	}
}
@media screen and (min-width: 641px){
	header, article.about{
		padding-top: 5rem;
	}
}

header{
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

header .brand img{
	height: auto;
	width: 2.5rem;
}

header nav a{
	align-items: center;
	display: inline-flex;
	flex-direction: row;
	padding: 0.4rem;
	border-radius: 2rem;
}

header nav .links{
	padding-left: 1rem;
	padding-right: 1rem;
}

@media screen and (max-width: 640px){
	header nav a{
		margin-left: 0.5rem;
	}
	header nav .social{
		margin-left: 1rem;
	}
}
@media screen and (min-width: 641px){
	header nav a{
		margin-left: 1.5rem;
	}
	header nav .social{
		margin-left: 5rem;
	}
}


@media screen and (max-width: 992px){
	article.about{
		width: 100%;
	}
}
@media screen and (min-width: 993px){
	article.about{
		width: 50%;
	}
}

.subtle{
	color: var(--subtle-gray);
}

.button{
	align-items: center;
	display: inline-flex;
	flex-direction: row;
	padding: 0.4rem;
	border-radius: 2rem;
}
.button:hover{
	background-color: rgba(255, 255, 255, 0.05);
}

.download{
	display: inline-flex;
	flex-direction: row;
	align-content: center;
}