/*	Variables	*/
:root{
	--navy: rgba(17, 34, 49, 1);
	--reddish: rgba(255,79,64,1);
	--almost-white: rgba(240,245,250,1);

	--title: 'Bebas Neue', sans-serif;
	--paragraph: 'Vinila-Regular', sans-serif;
	--bold: 'Vinila-Bold', sans-serif;

	--base: 1rem;
}

/*	Reset	*/

*{
	border: 0;
	margin: 0;
	padding: 0;
}

/*	Base	*/

body{
	background-color: var(--almost-white);
	color: var(--navy);
	font-family: var(--paragraph);
	line-height: 1.25;
}

@media (max-width:960px) {
	body {
		font-size: 3vw;
	}
}
@media (min-width:960px) {
	body {
		font-size: 1.5vw;
	}
}

/*	Layout	*/

header, section, nav{
	display: flex;
}

.container{
	flex-direction: column;
	padding: calc(var(--base) + 0.25rem);
}

@media (max-width:640px){
	.container{
		gap: calc(var(--base) * 2.5);
	}
}
@media (min-width:640px){
	.container{
		gap: calc(var(--base) * 5);
	}
}

@media (max-width:960px) {
	.main-content {
		flex-direction: column;
	}
}

@media (max-width:960px) {
	.main-content {
		flex-direction: column;
	}
}
@media (min-width:960px) {
	.main-content {
		flex-direction: row;
	}
}
.main-content {
	gap: calc(var(--base) * 2.5);
}
.main-content article{
	flex: 1;
}	

/*	Type	*/

a{
	font-family: var(--bold);
	text-decoration: none;
	transition: all 0.25s ease-in-out;
}

h1, h2, h3{
	font-family: var(--title);
font-weight: 500;
line-height: 0.8;
letter-spacing: -0.3rem;
}

.title{
	container-type: inline-size;
}

@media (max-width:960px) {
	.title h1 {
		font-size: 32vw;
	}
}
@media (min-width:960px) {
	.title h1 {
		font-size: 17vw;
	}
}
@media (max-width:960px) {
	.title h2 {
		font-size: 15vw;
	}
}
@media (min-width:960px) and (max-width:1440px) {
	.title h2 {
		font-size: 7.9vw;
	}
}
@media (min-width:1440px) {
	.title h2 {
		font-size: 7.6vw;
	}
}

.small{
	font-size: calc(var(--base) + 0.25rem);
}


/*	Navigation	*/

header nav{
	align-items: center;
	flex: 1;
	gap: calc(var(--base) + 0.25rem);
	justify-content: space-between;
}

@media (min-width:700px) {
	header nav {
		flex-direction: row;
	}
}

header nav .nav-items{
	display: flex;
	flex-direction: row;
	gap: calc(var(--base) + 0.25rem);
}


/*	Content	*/

.about{
	display: flex;
	flex-direction: column;
	gap: calc(var(--base) * 2.5);
}

.about p{
	text-align: justify;
}

/*	Utilities	*/

@media (max-width:768px){
	.hide-on-mobile{
		display: none;
	}	
}

.line{
	background-color: var(--navy);
	display: flex;
	flex: 1;
	height: 1px;
}

.link{
	color: inherit;
}
.link:hover, .link:active{
	color: var(--reddish);
	text-decoration: underline;
}